<div class="modal-header">
  <h3 id="myModalLabel">Hey, sorry you couldn't make it. Could you please let us know why?</h3>
</div>
<div class="modal-body">
  <textarea rows="15" cols="50" placeholder="Enter your message here"></textarea>
</div>
<div class="modal-footer">
  <button class="btn btn-modal-dismiss" data-dismiss="modal" aria-hidden="true">Cancel</button>
  <button class="btn btn-modal-submit" data-dismiss="modal" aria-hidden="true">Submit</button>
</div>
