


<div class="container-fluid bear-home">

    <div class="clear-box row">

    </div>
    <div class="container-fluid row">

      <div class="container-fluid left-box col-xs-12 col-md-4 d-none d-xl-block">

        <%= image_tag("white logo.png") %>

      </div>
      <div class=".container-fluid right-box col-md-12 col-xl-6">

        <h2>Welcome,</h2>
        <h2>To GitScrubs</h2>
        <hr/>
        <p>Where hospitals can attain a workforce dedicated to giving patients the supervision they deserve, while giving your nurses, doctors and other staff's the support they need.</p>
        <p>All while saving your hospital money.</p>
      </div>

    </div>



   <div class="container-fluid caregiver-center">

     <div class=".container-fluid center-box d-none d-xl-block">

       <h2>What we Do</h2>
       <hr/>
        <p>Git Scrubs provides a workforce like no other. On call, ready to place companions at the bedside of your patients when and where you need them. Supplying your patients, their family, and your staff the peace of mind needed when a patient requires extended supervision. It's as simple as registering your hospital with the site, making a request for a location, time and date. Once we recieve your requests, we schedule our staff and get you the companions you need to keep everything at your hospital running smoothly.  </p>
       <p>&nbsp;</p>
       <button type="button" class="btn btn-block outline">Schedule Now!</button>
     </div>
     <div class="container-fluid">
       <%= image_tag("Caregiver-center.jpg", :class => "caregiver-pic d-none d-xl-block") %>
     </div>

   </div>


    <div class="container-fluid caregiver-center d-xl-none">

      <div class=".container-fluid center-box-sm d-xl-none">

        <h2>What we Do</h2>
        <hr/>
        <p>Git Scrubs provides a workforce like no other. On call, ready to place companions at the bedside of your patients when and where you need them. Supplying your patients, their family, and your staff the peace of mind needed when a patient requires extended supervision. It's as simple as registering your hospital with the site, making a request for a location, time and date. Once we recieve your requests, we schedule our staff and get you the companions you need to keep everything at your hospital running smoothly.  </p>
        <p>&nbsp;</p>
        <button type="button" class="btn btn-block outline">Schedule Now!</button>
      </div>

    </div>



    <div class="container-fluid bottom-box">
      <div class="container-fluid holdStan d-none d-xl-block">
        <%= image_tag("stan_Placeholder.jpg") %>
      </div>


      <div class="whoWeAre">
        <p>&nbsp;</p>
        <h2>Who we are</h2>
        <hr/>
        <h2>Dr. Stan LewChuck</h2>

        <p>Dr. Stan Lewchuk is a Chiropractic Specialist in Spokane, Washington. Where he owns his own practice. Stan graduated with honors from Canadian Memorial Chiropractic College in 1989. Having more than 29 years of diverse medical experience in chiropracty , physical medicine and rehabilitation,</p>
      </div>


      <p>&nbsp;</p>


    </div>




</div>






