<span>&nbsp;</span>
<h1>Hospital Admin Schedule to Review Requests for Schedule Changes</h1>


<!--<button type="button" class="btn btn-block outline_alt" ><%= link_to 'Create New Shift', new_shift_path %></button>-->
<span>&nbsp;</span>
<%= button_to "Request Help", new_shift_path, :method => "get", :class=>"btn outline_alt" %>

