<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>gitScrubs Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 10px; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="800px" style="border-collapse: collapse;">
  <tr>
    <td align="center" style="padding: 20px 0 20px 0;" bgcolor="#ffffff">
      <%= image_tag attachments['gitScrubsLogo_alternate.png'].url %>
    </td>
  </tr>
  <tr bgcolor="#726fb2">
    <td align="center" style="padding: 20px 0 0 0;">
      <h1 style="font-family:'Verdana'; font-weight: lighter; font-size: 40px; color: white; padding:20px 0 0 0; ">Thank you for contacting us!</h1>
      <h1 style="font-family:'Verdana'; font-weight: lighter; font-size: 40px; color: white; padding:5px 0 20px 0; "><%=@first_name + " " + @last_name%></h1>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="padding: 20px 10px 30px 0px;" bgcolor="white">
            <p style="font-family:'Verdana'; font-weight: lighter; color: steelblue; font-size: 20px;">This email was sent to you to let you know that we have received an email from you using our contact us page! We will be responding to your question as soon as possible. So keep an eye on your inbox, and we will be with you shortly!</p>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px 10px 30px 0px;" bgcolor="white">
            <p style="font-family:'Verdana'; font-weight: lighter; color: steelblue; font-size: 20px;">Your Question was: </p>
            <p style="font-family:'Verdana'; font-weight: lighter; color: steelblue; font-size: 20px;"><%=@question%> </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <%= image_tag attachments['gitScrubsName_footer.png'].url, :style => 'top: -100px;' %>
    </td>
  </tr>


</table>

</body>

</html>